@media (min-width: 500px) {
  .contact-form form {
    width: 450px;
  }
  .contact-form .telephone {
    font-size: 34px;
  }
  .testimonials .testimonials-articles img {
    width: 155px;
  }
}

@media (min-width: 768px) {
  /* ---- global styles ---- */
  /* ---- header styles ---- */
  header .navbar-default .scroll-brand img {
    height: 60px;
    margin: 5px 0;
  }
  header .navbar-default .scroll-number {
    font-size: 20px;
    font-weight: bold;
    margin-top: 25.7px;
  }
  /* ---- banner styles ---- */
  .banner img {
    height: auto;
  }
  .banner .banner-content h1 {
    font-size: 60px;
  }
  .banner .banner-content p {
    font-size: 26px;
  }
  /* ---- what we do styles ---- */
  .what-we-do {
    padding-top: 30px;
  }
  .what-we-do h2 {
    font-size: 45px;
  }
  .what-we-do .popup-box {
    bottom: 50%;
    right: 85%;
  }
  /* ---- showcase styles ---- */
  .showcase {
    padding-top: 100px;
  }
  .showcase .showcase-text {
    text-align: left;
  }
  .showcase p {
    margin: 0;
  }
  /* ---- partners styles ---- */
  /* ---- footer styles ---- */
  footer .footer-top .nav-links ul:first-of-type {
    margin-left: 0;
  }
  footer .footer-bottom ul li {
    margin-bottom: 0;
  }
  /* ---- contact banner styles ---- */
  /* ---- contact form styles ---- */
  .contact-form form {
    width: 500px;
  }
  .contact-form .telephone {
    font-size: 40px;
  }
  .contact-form .has-success .custom-feedback {
    top: 60%;
    left: 54%;
  }
  /* ---- demo styles ---- */
  .demo .demo-form {
    width: 690px;
  }
  .demo .demo-form .demo-top, .demo .demo-form .demo-bottom {
    padding: 15px 75px 10px;
  }
  .demo .demo-bottom .col-sm-5 {
    text-align: right;
  }
  .demo .demo-form .demo-bottom .custom-btn {
    margin: 0;
  }
  .demo .has-success .custom-feedback {
    top: 50%;
    left: 75%;
    transform: translateY(-50%);
  }
  /* ---- products categories styles ---- */
  .products-categories {
    padding: 50px 0;
  }
  .products-categories h2 {
    font-size: 45px;
  }
  .products-categories .row>.col-xs-6:nth-of-type(3) article .dots {
    display: none;
  }
  .products-categories article {
    margin-bottom: 20px;
  }
  .products-categories article .popup-box {
    width: 160px;
    height: 36px;
    line-height: 36px;
    bottom: -25px;
    visibility: hidden;
    transition: 0;
  }
  .products-categories article .single-product {
    width: 130px;
    height: 130px;
    background-size: 130px 130px !important;
  }
  /* ---- products showcase styles ---- */
  .products-showcase {
    padding: 100px 0 3px;
  }
  .products-showcase .wrapper {
    width: 87%;
  }
  .products-showcase .slide-prev {
    left: -65px;
  }
  .products-showcase .slide-next {
    right: -65px;
  }
  /* ---- more content styles ---- */
  /* ---- dashboard app styles ---- */
  .dashboard-app .app h2 {
    font-size: 45px;
  }
  .dashboard-app .app-header-left {
    float: left;
  }
  .dashboard-app .app-header-right {
    float: right;
  }
  .dashboard-app .app-header-left a {
    margin-left: 30px;
  }
  .dashboard-app .app-header-right .app-nav > li {
    margin-right: 20px;
  }
  .dashboard-app .app {
    width: 620px;
    margin: 0 0 0 12%;
  }
  .dashboard-app .app .pane-top p {
    width: 48%;
  }
  .dashboard-app .app .pane-bottom .left-bottom {
    margin-bottom: 0;
  }
  .dashboard-app .app .pane-bottom p {
    margin: 12px auto 51px;
  }
  .dashboard-app .app .app-footer ul li {
    padding: 0 20px;
  }
  .dashboard-app .app .nav-tabs {
    width: 100px;
    position: absolute;
    top: 20px;
    left: -98px;
    margin-top: 0;
  }
  .dashboard-app .app .nav-tabs li {
    display: block;
    margin-bottom: 0;
  }
  .dashboard-app .app .nav-tabs li a {
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-right: none;
    border-radius: 7px 0 0 7px;
    width: 100%;
  }
  /* ---- clients banner styles ---- */
  /* ---- testimonials styles ---- */
  .testimonials h2 {
    font-size: 45px;
  }
  .testimonials .testimonials-articles img {
    width: 120px;
  }
  /* ---- clients partners styles ---- */
  .clients-partners h2 {
    font-size: 45px;
  }
  /* ---- why us banner styles ---- */
  /* ---- why oasis styles ---- */
  .why-oasis .circle-wrapper {
    margin: 20px 20px;
  }
  .why-oasis .links > img {
    width: 100px;
    top: -10%;
  }
  .why-oasis h2 {
    font-size: 45px;
  }
  .why-oasis .opened-link article {
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  /* ---- global styles ---- */
  /* ---- header styles ---- */
  header .navbar-default {
    height: 90px;
  }
  header .navbar-default .navbar-nav>li {
    height: 90px;
    padding-top: 20px;
    border: none;
  }
  header .navbar-default .navbar-nav>li:nth-last-of-type(3) {
    border-bottom: none;
  }
  header .navbar-default .navbar-brand img {
    height: 60px;
  }
  header .navbar-default .navbar-nav>li>a {
    font-size: 16px;
  }
  header .navbar-default .navbar-nav>li>a:hover+.hover {
    display: block;
  }
  header .navbar-default .navbar-nav>li.signup {
    margin-left: 0;
    padding-top: 28px;
  }
  header .navbar-default .navbar-nav>li.login, header .navbar-default .navbar-nav>li.signup {
    display: block;
  }
  header .navbar-default .navbar-nav>li.signup a {
    padding: 5px 10px;
  }
  header .navbar-default .navbar-nav>li.login a {
    padding: 15px;
    margin-right: 55px;
    border-right: 1px solid #fff;
  }
  header .navbar-default .lang {
    padding-top: 25px;
    right: 15px;
    top: 0;
  }
  header .navbar-default .lang>.lang-dropdown {
    top: 46px;
  }
  header .navbar-default .scroll-brand {
    display: block;
    float: none;
    padding: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
    margin: 0;
    transform: translateX(45px);
  }
  header .navbar-default .scroll-brand img {
    margin-top: 5px;
    height: 40px;
  }
  header .navbar-default .scroll-number {
    position: absolute;
    border-left: none;
    top: 30px;
    left: 0;
    font-size: 14px;
  }
  /* ---- banner styles ---- */
  /* ---- what we do styles ---- */
  .what-we-do .popup-box {
    right: 88%;
  }
  /* ---- showcase styles ---- */
  /* ---- partners styles ---- */
  .partners {
    padding: 80px 0;
  }
  /* ---- footer styles ---- */
  footer .footer-top>.container>.row>.col-md-4 {
    border-left: 1px solid #727272;
    margin-top: 0;
  }
  footer .footer-top .news-articles .single-news {
    margin-bottom: 0;
  }
  footer .footer-top .nav-links ul {
    margin-right: 30px;
  }
  footer .footer-top .nav-links ul:last-of-type {
    margin-right: 0;
  }
  /* ---- contact banner styles ---- */
  .contact-banner {
    padding: 50px 0;
  }
  /* ---- contact form styles ---- */
  .contact-form form {
    width: 600px;
    padding: 50px 0;
  }
  .contact-form .has-success .custom-feedback {
    top: 60%;
    left: 45%;
  }
  /* ---- demo styles ---- */
  /* ---- products categories styles ---- */
  .products-categories article .single-product {
    width: 110px;
    height: 110px;
    background-size: 110px 110px !important;
  }
  .products-categories article .dots {
    width: 35px;
    right: -32px;
  }
  .products-categories article .popup-box {
    bottom: -20px;
    width: 130px;
  }
  .products-categories .row>.col-xs-6:nth-of-type(3) article .dots {
    display: inline;
  }
  .products-categories article {
    margin-bottom: 0;
  }
  /* ---- products showcase styles ---- */
  .products-showcase .wrapper {
    width: 90%;
    transform: translateX(30px);
  }
  .products-showcase article>img {
    margin-top: 0;
  }
  /* ---- more content styles ---- */
  .more-content article {
    margin-bottom: 0;
  }
  /* ---- dashboard app styles ---- */
  .dashboard-app .app-header-left a {
    margin-left: 60px;
  }
  .dashboard-app .app-header-right .app-nav > li {
    margin-right: 60px;
  }
  .dashboard-app .app {
    width: 780px;
    margin: 0 0 0 12%;
  }
  /* ---- clients banner styles ---- */
  /* ---- testimonials styles ---- */
  .testimonials .testimonials-articles img {
    width: 155px;
  }
  /* ---- clients partners styles ---- */
  .clients-partners a {
    margin: 0 20px;
  }
  /* ---- why us banner styles ---- */
  /* ---- why oasis styles ---- */
  .why-oasis .circle-wrapper {
    margin: 30px 60px;
  }

}

@media (min-width: 1200px) {
  /* ---- global styles ---- */
  /* ---- header styles ---- */
  header .navbar-default {
    height: 108px;
  }
  header .navbar-default .navbar-nav>li {
    height: 108px;
    padding-top: 29px;
  }
  header .navbar-default .navbar-brand img {
    height: auto;
  }
  header .navbar-default .navbar-nav>li>a {
    font-size: 18px;
  }
  header .navbar-default .navbar-nav>li.signup {
    margin-left: 50px;
    padding-top: 32px;
  }
  header .navbar-default .navbar-nav>li.signup a {
    padding: 10px 25px;
  }
  header .navbar-default .navbar-nav>li.login a {
    padding: 15px 20px;
    margin-right: 55px;
  }
  header .navbar-default .lang {
    padding-top: 34px;
  }
  header .navbar-default .lang>.lang-dropdown {
    top: 56px;
  }
  header .navbar-default .scroll-brand {
    transform: translateX(43px);
    padding-bottom: 7px;
  }
  header .navbar-default .scroll-brand img {
    margin-top: 5px;
    height: auto;
  }
  header .navbar-default .scroll-number {
    position: absolute;
    border-left: none;
    top: 48px;
    left: 0;
    font-size: 16px;
  }
  /* ---- banner styles ---- */
  .banner .banner-content img {
    width: 50px;
  }
  /* ---- what we do styles ---- */
  .what-we-do .popup-box {
    bottom: 34%;
    right: 90%;
  }
  /* ---- showcase styles ---- */
  /* ---- partners styles ---- */
  /* ---- footer styles ---- */
  footer .footer-top .nav-links ul:first-of-type {
    margin-left: 0;
  }
  footer .footer-top .nav-links ul {
    margin-right: 25px;
  }
  footer .footer-top .nav-links ul:last-of-type {
    margin-right: 0;
  }
  /* ---- contact banner styles ---- */
  /* ---- contact form styles ---- */
  .contact-form form {
    width: 800px;
  }
  .contact-form .has-success .custom-feedback {
    top: 60%;
    left: 34%;
  }
  /* ---- demo styles ---- */
  /* ---- products categories styles ---- */
  .products-categories article .single-product {
    width: 130px;
    height: 130px;
    background-size: 130px 130px !important;
  }
  .products-categories article .dots {
    width: 45px;
    right: -40px;
  }
  .products-categories article .popup-box {
    bottom: -25px;
    width: 160px;
  }
  /* ---- products showcase styles ---- */
  .products-showcase .wrapper {
    width: 92%;
    transform: translateX(30px);
  }
  /* ---- more content styles ---- */
  /* ---- dashboard app styles ---- */
  .dashboard-app .app {
    width: 888px;
  }
  /* ---- clients banner styles ---- */
  .clients-banner .banner-content img {
    width: 84px;
  }
  /* ---- testimonials styles ---- */
  /* ---- clients partners styles ---- */
  .clients-partners a {
    margin: 0 40px;
  }
  /* ---- why us banner styles ---- */
  /* ---- why oasis styles ---- */
  .why-oasis .circle-wrapper {
    margin: 0;
  }
  .why-oasis .links {
    text-align: left;
    margin-bottom: 320px;
  }
  .why-oasis .links .dots img {
    width: auto;
    position: absolute;
  }
  .why-oasis .links > img {
    top: 35%;
  }
  .why-oasis .links img {
    width: 200px;
  }
  .why-oasis .links > img {
    width: 100px;
  }
  .why-oasis .circle-wrapper:nth-of-type(3) a:nth-of-type(2) {
    position: absolute;
    top: 50%;
    left: 112%;
    transform: translateY(-50%);
    width: 300px;
  }
  .why-oasis .circle-wrapper:nth-of-type(1) {
    top: 20px;
    left: 30px;
  }
  .why-oasis .circle-wrapper:nth-of-type(2) {
    top: 240px;
    left: 60px;
  }
  .why-oasis .circle-wrapper:nth-of-type(3) {
    top: 160px;
    left: 80px;
  }
  .why-oasis .circle-wrapper:nth-of-type(4) {
    top: -40px;
    left: 80px;
  }
  .why-oasis .links .dots img:nth-of-type(1) {
    top: 30%;
    left: 27%;
  }
  .why-oasis .links .dots img:nth-of-type(2) {
    top: 68%;
    left: 45%;
    transform: rotate(-10deg);
  }
  .why-oasis .links .dots img:nth-of-type(3) {
    top: 65%;
    left: 54%;
  }
  .why-oasis .links .dots img:nth-of-type(4) {
    top: 20%;
    left: 56%;
  }

}

@media (min-width: 1600px) {
  /* ---- global styles ---- */
  .container {
    width: 1477px;
  }
  /* ---- header styles ---- */
  header .navbar-default .navbar-nav>li.login a {
    padding: 15px 40px;
    margin-right: 80px;
  }
  header .navbar-default .scroll-brand {
    float: left;
    border-bottom: none;
    padding: 15px;
    transform: translateX(0);
  }
  header .navbar-default .scroll-brand img {
    margin-top: 9px;
  }
  header .navbar-default .scroll-number {
    display: inline-block;
    margin-top: 31px;
    border-left: 1px solid #fff;
    display: none;
    padding-left: 25px;
    top: -6px;
    left: 105px;
    font-size: 27px;
    font-weight: bold;
  }
  /* ---- banner styles ---- */
  .banner img {
    width: 100%;
  }
  .banner .banner-content img {
    width: 60px;
  }
  .banner .banner-content h1 {
    font-size: 68px;
  }
  .banner .banner-content p {
    font-size: 26px;
  }
  /* ---- what we do styles ---- */
  /* ---- showcase styles ---- */
  /* ---- partners styles ---- */
  /* ---- footer styles ---- */
  footer .footer-top .nav-links ul:first-of-type {
    margin-left: 40px;
  }
  footer .footer-top .nav-links ul {
    margin-right: 40px;
  }
  footer .footer-top .nav-links ul:last-of-type {
    margin-right: 0;
  }
  /* ---- contact banner styles ---- */
  /* ---- contact form styles ---- */
  /* ---- demo styles ---- */
  /* ---- products categories styles ---- */
  /* ---- products showcase styles ---- */
  .products-showcase .wrapper {
    width: 100%;
    transform: translateX(0);
  }
  /* ---- more content styles ---- */
  /* ---- dashboard app styles ---- */
  /* ---- clients banner styles ---- */
  .clients-banner .banner-content img {
    width: 84px;
  }
  /* ---- testimonials styles ---- */
  /* ---- clients partners styles ---- */
  /* ---- why us banner styles ---- */
  /* ---- why oasis styles ---- */
  .why-oasis .links > img {
    width: 160px;
  }
  .why-oasis .circle-wrapper:nth-of-type(1) {
    top: 20px;
    left: 135px;
  }
  .why-oasis .circle-wrapper:nth-of-type(2) {
    top: 300px;
    left: 130px;
  }
  .why-oasis .circle-wrapper:nth-of-type(3) {
    top: 240px;
    left: 210px;
  }
  .why-oasis .circle-wrapper:nth-of-type(4) {
    top: -40px;
    left: 260px;
  }
  .why-oasis .links .dots img:nth-of-type(1) {
    top: 32%;
    left: 29%;
  }
  .why-oasis .links .dots img:nth-of-type(2) {
    top: 85%;
    left: 43%;
    transform: rotate(0deg);
  }
  .why-oasis .links .dots img:nth-of-type(3) {
    top: 87%;
    left: 54%;
  }
  .why-oasis .links .dots img:nth-of-type(4) {
    top: 20%;
    left: 57%;
  }
}
