@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('fonts/proxima-nova-regular/proxima-nova-regular.eot');
  src: url('fonts/proxima-nova-regular/proxima-nova-regular.eot?#iefix') format('embedded-opentype'), url('fonts/proxima-nova-regular/proxima-nova-regular.woff') format('woff'), url('fonts/proxima-nova-regular/proxima-nova-regular.ttf') format('truetype'), url('fonts/proxima-nova-regular/proxima-nova-regular.svg#ywftsvg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Light';
  src: url('proxima-nova-light.eot');
  src: url('proxima-nova-light.eot?#iefix') format('embedded-opentype'), url('proxima-nova-light.woff') format('woff'), url('proxima-nova-light.ttf') format('truetype'), url('proxima-nova-light.svg#ywftsvg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Thin';
  src: url('proxima-nova-thin.eot');
  src: url('proxima-nova-thin.eot?#iefix') format('embedded-opentype'), url('proxima-nova-thin.woff') format('woff'), url('proxima-nova-thin.ttf') format('truetype'), url('proxima-nova-thin.svg#ywftsvg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url('proxima-nova-semibold.eot');
  src: url('proxima-nova-semibold.eot?#iefix') format('embedded-opentype'), url('proxima-nova-semibold.woff') format('woff'), url('proxima-nova-semibold.ttf') format('truetype'), url('proxima-nova-semibold.svg#ywftsvg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('proxima-nova-bold.eot');
  src: url('proxima-nova-bold.eot?#iefix') format('embedded-opentype'), url('proxima-nova-bold.woff') format('woff'), url('proxima-nova-bold.ttf') format('truetype'), url('proxima-nova-bold.svg#ywftsvg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Extrabld';
  src: url('proxima-nova-extrabold.eot');
  src: url('proxima-nova-extrabold.eot?#iefix') format('embedded-opentype'), url('proxima-nova-extrabold.woff') format('woff'), url('proxima-nova-extrabold.ttf') format('truetype'), url('proxima-nova-extrabold.svg#ywftsvg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Black';
  src: url('proxima-nova-black.eot');
  src: url('proxima-nova-black.eot?#iefix') format('embedded-opentype'), url('proxima-nova-black.woff') format('woff'), url('proxima-nova-black.ttf') format('truetype'), url('proxima-nova-black.svg#ywftsvg') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* ---- global styles ---- */

body {
  font-family: "ProximaNova-Regular";
}

a:hover, a:focus {
  text-decoration: none;
  outline: 0;
}

h1 {
  font-family: "ProximaNova-Light";
  font-size: 50px;
  color: #fff;
}

h2 {
  font-family: "ProximaNova-Light";
  font-size: 45px;
  color: #fff;
}

h4 {
  font-family: "ProximaNova-Semibold";
  font-size: 30px;
  color: #fff;
}

.custom-btn {
  display: inline-block;
  padding: 14px 44px;
  background-color: #4c9aca;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 4px;
  transition: 0.2s;
  border: none;
}

.custom-btn:hover {
  background-color: #1ccabb;
}


/* ---- header styles ---- */

header .navbar-default {
  border: none;
  border-radius: 0;
  background: linear-gradient(to bottom, #066e6e 0%, #31ACA7 100%);
  margin: 0;
}

header .scroll-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #595959;
  z-index: 10000;
}

header .navbar-default .container {
  position: relative;
}

header .navbar-default .navbar-brand {
  height: auto;
}

header .navbar-default .navbar-brand img {
  height: 70px;
}

header .navbar-default .scroll-brand img {
  height: 40px;
  margin: 15px 0;
}

header .navbar-default .scroll-number {
  display: inline-block;
  color: #c2c2c2;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 15px;
  margin-top: 30px;
  border-left: 1px solid #fff;
  display: none;
}

header .navbar-default .scroll-btn {
  background-color: #1bcabb !important;
}

header .navbar-default .navbar-nav>li {
  position: relative;
}

header .navbar-default .navbar-nav>li:nth-last-of-type(3) {
  border-bottom: 1px solid #fff;
}

header .navbar-default .navbar-nav>li>a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

header .navbar-default .navbar-nav>li>a:hover, header .navbar-default .navbar-nav>li>a:focus {
  color: #fff;
}

header .navbar-default .navbar-nav>li.signup {
  height: auto;
  padding-top: 10px;
  margin-left: 15px;
}

header .navbar-default .navbar-nav>li.signup a {
  display: inline-block;
  height: auto;
  padding: 10px 25px;
  background: #54acdf;
  border: 2px solid #fff;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  transition: background .2s ease-in-out;
}

header .navbar-default .navbar-nav>li.signup a:hover {
  background-color: #1ccabb;
}

header .navbar-default .navbar-nav>li.login, header .navbar-default .navbar-nav>li.signup {
  display: inline-block;
}

header .navbar-default .navbar-nav>li.login a {
  font-size: 16px;
  font-weight: bold;
  padding: 15px 20px;
  margin-right: 20px;
}

header .navbar-default .lang {
  position: absolute;
  right: 75px;
  top: 29px;
  display: inline-block;
  height: 80px;
  width: 40px;
}

header .navbar-default .lang>.lang-dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  width: 40px;
  border: 2px solid #fff;
  background-color: rgba(87, 87, 87, 0.7);
  text-align: center;
  padding-top: 22px;
  top: 22px;
}

header .navbar-default .lang:hover>.lang-dropdown {
  display: block;
}

header .navbar-default .lang>.lang-dropdown li {
  margin-bottom: 10px;
}

header .navbar-default .lang>.lang-dropdown a {
  color: #fff;
  font-size: 12px;
}

header .navbar-default .lang>a {
  display: inline-block;
  position: absolute;
  z-index: 2;
  padding: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 36px;
  border-radius: 50%;
  border: 2px solid #fff;
  color: #fff;
  background-color: #575757;
  font-size: 12px;
  font-weight: bold;
}

header .navbar-default .navbar-toggle {
  border: none;
  margin-top: 29px;
}

header .navbar-default .navbar-toggle:hover, header .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

header .navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
  width: 30px;
  height: 3px;
}

header .navbar-default .navbar-nav>li>.hover {
  width: 16px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  transform: translateY(15px);
  display: none;
}


/* ---- banner styles ---- */

.banner .banner-slider img {
  width: auto;
  max-width: inherit;
  height: 380px;
}

.banner .bx-wrapper {
  border: none;
  box-shadow: none;
}

.banner .bx-pager {
  bottom: 30px;
}

.banner .bx-wrapper .bx-pager.bx-default-pager a {
  background-color: #c1cacf;
  margin: 0 10px;
  padding: 2px;
  background-clip: content-box;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
  border: 1px solid #fff;
  background-color: #fff;
}

.banner .banner-content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.banner .banner-content-wrapper .banner-content {
  /*position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  margin-top: 2%;
}

.banner .banner-content img {
  margin-bottom: 20px;
  width: 60px;
  height: auto;
  display: inline;
}

.banner .banner-content h1 {
  max-width: 742px;
  margin: 0 auto;
  font-size: 28px;
  margin-bottom: 20px;
}

.banner .banner-content p {
  color: #fff;
  font-size: 20px;
  margin: 10px 0;
}

.banner .banner-content .hr-line {
  width: 180px;
  margin: 0 auto;
  height: 2px;
  background-color: #fff;
}


/* ---- what we do styles ---- */

.what-we-do {
  /*background-color: #f6f6f6;*/
  padding-bottom: 30px;
}

.what-we-do h2 {
  color: #595959;
  margin-bottom: 35px;
  font-size: 32px;
}

.what-we-do img {
  max-width: 100%;
  margin-bottom: 25px;
}

.what-we-do p {
  color: #595959;
  margin: 0;
}


/* ---- showcase styles ---- */

.showcase {
  background-color: #16b0a4;
  padding: 100px 0 30px;
}

.showcase img {
  max-width: 100%;
}

.showcase h4 {
  margin-bottom: 36px;
  text-decoration: underline;
}

.showcase p {
  max-width: 290px;
  color: #fff;
  font-size: 20px;
  margin: 0 auto;
}

.showcase .showcase-text {
  text-align: center;
}


/* ---- partners styles ---- */

.partners {
  padding: 80px 0;
}

.partners img {
  margin: 0 15px;
}

.partners a {
  transition: 0.2s;
}

.partners a:hover {
  opacity: 0.7;
}


/* ---- footer styles ---- */

footer .footer-top {
  padding-bottom: 20px;
}

footer .footer-top h4 {
  font-size: 20px;
  border-bottom: 2px solid #fff;
  padding: 20px 0;
  margin: 0 0 20px;
  text-align: center;
}

footer .footer-top>.container>.row>.col-md-4 {
  margin-top: 30px;
}

footer .footer-top .news h4 {
  border-bottom: none;
  margin: 0 0 8px;
  padding: 0;
  text-align: left;
}

footer .footer-top .news .line {
  width: 30px;
  height: 3px;
  background-color: #fff;
}

footer .footer-top .news-articles {
  width: 90%;
  display: inline-block;
}

footer .footer-top .news-articles .single-news {
  margin-bottom: 20px;
}

footer .footer-top .news-articles .single-news img {
  border-radius: 50%;
  max-width: 100%;
}

footer .footer-top .news-articles .single-news div {
  display: inline-block;
}

footer .footer-top .news-articles .single-news>.row>.col-xs-3 {
  padding-right: 8px;
}

footer .footer-top .news-articles .single-news>.row>.col-xs-9 {
  padding-left: 8px;
  ]
}

footer .footer-top .news-articles .single-news p {
  color: #fff;
  margin: 0;
}

footer .footer-top .news-articles .single-news .name {
  font-size: 14px;
  font-family: "ProximaNova-Bold";
  font-weight: bold;
}

footer .footer-top .news-articles .single-news .company-name {
  font-size: 13px;
  font-family: "ProximaNova-Semibold";
  font-weight: 500;
}

footer .footer-top .news-articles .single-news .news-text {
  font-size: 12px;
}

footer .footer-top .nav-links ul {
  display: inline-block;
  margin-right: 30px;
  vertical-align: top;
}

footer .footer-top .nav-links ul:last-of-type {
  margin-right: 0;
}

footer .footer-top .nav-links ul li {
  margin: 8px 0;
}

footer .footer-top .nav-links ul li:first-of-type {
  color: #fff;
  padding: 3px 6px;
  border: 2px solid #fff;
  text-align: center;
  margin-bottom: 10px;
  font-family: "ProximaNova-Bold";
}

footer .footer-top .nav-links ul li a {
  color: #fff;
  font-family: "ProximaNova-Bold";
}

footer .footer-top .nav-links ul li a:hover {
  text-decoration: underline;
}

footer .footer-bottom {
  padding: 15px 0 10px;
  color: #fff;
}

footer .footer-bottom ul {
  margin-bottom: 15px;
}

footer .footer-bottom ul li {
  margin-bottom: 10px;
}

footer .footer-bottom ul li a {
  color: #fff;
}

footer .footer-bottom ul li a+.hover {
  width: 30px;
  height: 3px;
  background-color: #fff;
  opacity: 0;
  margin: 5px auto 0;
}

footer .footer-bottom ul li a:hover+.hover {
  opacity: 1;
}


/* ---- contact banner styles ---- */

.contact-banner {
  padding: 50px 0;
}

.contact-banner h1 {
  margin: 0;
  color: #595959;
  display: inline-block;
  margin: 0 auto 40px;
}

.contact-banner .line {
  height: 2px;
  color: #595959;
  box-shadow: 3px 3px 5px rgba(13, 13, 13, 0.5);
  margin: 0 auto 50px;
}

.contact-banner p {
  margin: 0;
}


/* ---- contact form styles ---- */

.contact-form form {
  margin-left: 10px;
  padding: 50px 0;
  width: 300px;
}

.contact-form h2 {
  color: #595959;
  font-weight: bold;
  margin: 0;
}

.contact-form h2+.line {
  width: 300px;
  height: 1px;
  box-shadow: 1px 1px 2px rgba(13, 13, 13, 0.5);
  background-color: #595959;
  margin-bottom: 50px;
}

.contact-form label {
  display: block;
  color: #aeaeae;
  font-weight: normal;
  font-size: 20px;
}

.contact-form label span {
  color: #69ddd2;
}

.contact-form input {
  border: 1px solid #aeaeae;
  border-radius: 5px;
  width: 300px;
  height: 40px;
  padding: 0 15px;
}

.contact-form textarea {
  resize: none;
  overflow: auto;
  width: 100%;
  border: 1px solid #aeaeae;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
}

.contact-form .btn-wrapper {
  text-align: right;
  width: 100%;
}

.contact-form .custom-btn {
  padding: 10px 40px;
}

.contact-form .btn-wrapper+.line {
  width: 100%;
  height: 1px;
  box-shadow: 1px 1px 2px rgba(13, 13, 13, 0.5);
  background-color: #595959;
  margin: 50px 0 30px;
}

.contact-form .telephone {
  font-family: "ProximaNova-Black";
  font-size: 24px;
  margin: 0;
}
