@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('fonts/proxima-nova-regular/proxima-nova-regular.eot');
  src: url('fonts/proxima-nova-regular/proxima-nova-regular.eot?#iefix') format('embedded-opentype'), url('fonts/proxima-nova-regular/proxima-nova-regular.woff') format('woff'), url('fonts/proxima-nova-regular/proxima-nova-regular.ttf') format('truetype'), url('fonts/proxima-nova-regular/proxima-nova-regular.svg#ywftsvg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Light';
  src: url('fonts/proxima-nova-light/proxima-nova-light.eot');
  src: url('fonts/proxima-nova-light/proxima-nova-light.eot?#iefix') format('embedded-opentype'), url('fonts/proxima-nova-light/proxima-nova-light.woff') format('woff'), url('fonts/proxima-nova-light/proxima-nova-light.ttf') format('truetype'), url('fonts/proxima-nova-light/proxima-nova-light.svg#ywftsvg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Thin';
  src: url('fonts/proxima-nova-thin/proxima-nova-thin.eot');
  src: url('fonts/proxima-nova-thin/proxima-nova-thin.eot?#iefix') format('embedded-opentype'), url('fonts/proxima-nova-thin/proxima-nova-thin.woff') format('woff'), url('fonts/proxima-nova-thin/proxima-nova-thin.ttf') format('truetype'), url('fonts/proxima-nova-thin/proxima-nova-thin.svg#ywftsvg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url('fonts/proxima-nova-semibold/proxima-nova-semibold.eot');
  src: url('fonts/proxima-nova-semibold/proxima-nova-semibold.eot?#iefix') format('embedded-opentype'), url('fonts/proxima-nova-semibold/proxima-nova-semibold.woff') format('woff'), url('fonts/proxima-nova-semibold/proxima-nova-semibold.ttf') format('truetype'), url('fonts/proxima-nova-semibold/proxima-nova-semibold.svg#ywftsvg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('fonts/proxima-nova-bold/proxima-nova-bold.eot');
  src: url('fonts/proxima-nova-bold/proxima-nova-bold.eot?#iefix') format('embedded-opentype'), url('fonts/proxima-nova-bold/proxima-nova-bold.woff') format('woff'), url('fonts/proxima-nova-bold/proxima-nova-bold.ttf') format('truetype'), url('fonts/proxima-nova-bold/proxima-nova-bold.svg#ywftsvg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Extrabld';
  src: url('fonts/proxima-nova-extrabold/proxima-nova-extrabold.eot');
  src: url('fonts/proxima-nova-extrabold/proxima-nova-extrabold.eot?#iefix') format('embedded-opentype'), url('fonts/proxima-nova-extrabold/proxima-nova-extrabold.woff') format('woff'), url('fonts/proxima-nova-extrabold/proxima-nova-extrabold.ttf') format('truetype'), url('fonts/proxima-nova-extrabold/proxima-nova-extrabold.svg#ywftsvg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Black';
  src: url('fonts/proxima-nova-black/proxima-nova-black.eot');
  src: url('fonts/proxima-nova-black/proxima-nova-black.eot?#iefix') format('embedded-opentype'), url('fonts/proxima-nova-black/proxima-nova-black.woff') format('woff'), url('fonts/proxima-nova-black/proxima-nova-black.ttf') format('truetype'), url('fonts/proxima-nova-black/proxima-nova-black.svg#ywftsvg') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* ---- global styles ---- */

body {
  font-family: "ProximaNova-Regular";
}

a:hover, a:focus {
  text-decoration: none;
  outline: 0;
}

input:focus {
  outline: 0;
}

h1 {
  font-family: "ProximaNova-Thin";
  font-size: 50px;
  color: #fff;
}

h2 {
  font-family: "ProximaNova-Thin";
  font-size: 45px;
  color: #fff;
}

h4 {
  font-family: "ProximaNova-Semibold";
  font-size: 30px;
  color: #fff;
}

.custom-btn {
  display: inline-block;
  padding: 14px 44px;
  background-color: #4c9aca;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 4px;
  transition: 0.2s;
  border: none;
}

.custom-btn:hover {
  background-color: #1ccabb;
  color: #fff;
}

.popup-box {
  width: 160px;
  height: 36px;
  line-height: 36px;
  color: #fff;
  font-weight: bold;
  background-color: #54acde;
  position: relative;
  transition: 0.2s;
}

.popup-box a {
  display: block;
  color: #fff;
}

.custom-feedback {
  display: none;
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 100;
  background: url(assets/success.png) no-repeat center center;
}

/* ---- header styles ---- */

header .navbar-default {
  border: none;
  border-radius: 0;
  background: linear-gradient(to bottom, #066e6e 0%, #31ACA7 100%);
  margin: 0;
}

header .scroll-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #595959;
  z-index: 10000;
}

header .navbar-default .container {
  position: relative;
}

header .navbar-default .navbar-brand {
  height: auto;
}

header .navbar-default .navbar-brand img {
  height: 70px;
}

header .navbar-default .scroll-brand img {
  height: 40px;
  margin: 15px 0;
}

header .navbar-default .scroll-number {
  display: inline-block;
  color: #c2c2c2;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 15px;
  margin-top: 30px;
  border-left: 1px solid #fff;
  display: none;
}

header .navbar-default .scroll-btn {
  background-color: #1bcabb !important;
}

header .navbar-default .navbar-nav>li {
  position: relative;
}

header .navbar-default .navbar-nav>li:nth-last-of-type(3) {
  border-bottom: 1px solid #fff;
}

header .navbar-default .navbar-nav>li>a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

header .navbar-default .navbar-nav>li>a:hover, header .navbar-default .navbar-nav>li>a:focus {
  color: #fff;
}

header .navbar-default .navbar-nav>li.signup {
  height: auto;
  padding-top: 10px;
  margin-left: 15px;
}

header .navbar-default .navbar-nav>li.signup a {
  display: inline-block;
  height: auto;
  padding: 10px 25px;
  background: #54acdf;
  border: 2px solid #fff;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  transition: background .2s ease-in-out;
}

header .navbar-default .navbar-nav>li.signup a:hover {
  background-color: #1ccabb;
}

header .navbar-default .navbar-nav>li.login, header .navbar-default .navbar-nav>li.signup {
  display: inline-block;
}

header .navbar-default .navbar-nav>li.login a {
  font-size: 16px;
  font-weight: bold;
  padding: 15px 20px;
  margin-right: 20px;
}

header .navbar-default .lang {
  position: absolute;
  right: 75px;
  top: 29px;
  display: inline-block;
  height: 80px;
  width: 40px;
}

header .navbar-default .lang>.lang-dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  width: 40px;
  border: 2px solid #fff;
  background-color: rgba(87, 87, 87, 0.7);
  text-align: center;
  padding-top: 22px;
  top: 22px;
}

header .navbar-default .lang:hover>.lang-dropdown {
  display: block;
}

header .navbar-default .lang>.lang-dropdown li {
  margin-bottom: 10px;
}

header .navbar-default .lang>.lang-dropdown a {
  color: #fff;
  font-size: 12px;
}

header .navbar-default .lang>a {
  display: inline-block;
  position: absolute;
  z-index: 2;
  padding: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 36px;
  border-radius: 50%;
  border: 2px solid #fff;
  color: #fff;
  background-color: #575757;
  font-size: 12px;
  font-weight: bold;
}

header .navbar-default .navbar-toggle {
  border: none;
  margin-top: 29px;
}

header .navbar-default .navbar-toggle:hover, header .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

header .navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
  width: 30px;
  height: 3px;
}

header .navbar-default .navbar-nav>li>.hover {
  width: 16px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  transform: translateY(15px);
  display: none;
}


/* ---- banner styles ---- */

.banner {
  position: relative;
}

.banner img {
  width: auto;
  max-width: inherit;
  height: 380px;
}

.banner .bx-wrapper {
  border: none;
  box-shadow: none;
  margin-bottom: 0;
}

.banner .bx-pager {
  bottom: 30px;
}

.banner .bx-wrapper .bx-pager.bx-default-pager a {
  background-color: #c1cacf;
  margin: 0 10px;
  padding: 2px;
  background-clip: content-box;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
  border: 1px solid #fff;
  background-color: #fff;
}

.banner .banner-content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.banner .banner-content-wrapper .banner-content {
  margin-top: 2%;
}

.banner .banner-content img {
  margin-bottom: 20px;
  width: 60px;
  height: auto;
  display: inline;
}

.banner .banner-content h1 {
  max-width: 742px;
  margin: 0 auto;
  font-size: 28px;
  margin-bottom: 20px;
}

.banner .banner-content p {
  color: #fff;
  font-size: 20px;
  margin: 10px 0;
}

.banner .banner-content .hr-line {
  width: 180px;
  margin: 0 auto;
  height: 2px;
  background-color: #fff;
}


/* ---- what we do styles ---- */

.what-we-do {
  padding-bottom: 30px;
  position: relative;
}

.what-we-do h2 {
  color: #595959;
  margin-bottom: 35px;
  font-size: 32px;
}

.what-we-do img {
  max-width: 100%;
  margin-bottom: 25px;
}

.what-we-do p {
  color: #595959;
  margin: 0;
}

.what-we-do .popup-box {
  position: absolute;
  transform: rotate(90deg);
}

.what-we-do .popup-box:hover, .what-we-do .popup-box:focus {
  background-color: #1ccabb;
}

.what-we-do .popup-box:hover:after, .what-we-do .popup-box:focus:after {
  border-top-color: #1ccabb;
}

.what-we-do .popup-box:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(84, 172, 222, 0);
  border-top-color: #54acde;
  border-width: 14px;
  margin-left: -14px;
  transition: 0.2s;
}


/* ---- showcase styles ---- */

.showcase {
  padding: 50px 0 30px;
}

.showcase img {
  max-width: 100%;
}

.showcase h4 {
  margin-bottom: 36px;
  text-decoration: underline;
}

.showcase p {
  max-width: 290px;
  color: #fff;
  font-size: 20px;
  margin: 0 auto;
}

.showcase .showcase-text {
  text-align: center;
}


/* ---- partners styles ---- */

.partners {
  padding: 30px 0;
}

.partners img {
  margin: 0 15px;
}

.partners a {
  transition: 0.2s;
}

.partners a:hover {
  opacity: 0.7;
}


/* ---- footer styles ---- */

footer .footer-top {
  padding-bottom: 20px;
}

footer .footer-top h4 {
  font-size: 20px;
  border-bottom: 2px solid #fff;
  padding: 20px 0;
  margin: 0 0 20px;
  text-align: center;
}

footer .footer-top>.container>.row>.col-md-4 {
  margin-top: 30px;
}

footer .footer-top .news h4 {
  border-bottom: none;
  margin: 0 0 8px;
  padding: 0;
  text-align: left;
}

footer .footer-top .news .line {
  width: 30px;
  height: 3px;
  background-color: #fff;
}

footer .footer-top .news-articles {
  width: 90%;
  display: inline-block;
}

footer .footer-top .news-articles .single-news {
  margin-bottom: 20px;
}

footer .footer-top .news-articles .single-news img {
  border-radius: 50%;
  max-width: 100%;
}

footer .footer-top .news-articles .single-news div {
  display: inline-block;
}

footer .footer-top .news-articles .single-news>.row>.col-xs-3 {
  padding-right: 8px;
}

footer .footer-top .news-articles .single-news>.row>.col-xs-9 {
  padding-left: 8px;
  ]
}

footer .footer-top .news-articles .single-news p {
  color: #fff;
  margin: 0;
}

footer .footer-top .news-articles .single-news .name {
  font-size: 14px;
  font-family: "ProximaNova-Bold";
  font-weight: bold;
}

footer .footer-top .news-articles .single-news .company-name {
  font-size: 13px;
  font-family: "ProximaNova-Semibold";
  font-weight: 500;
}

footer .footer-top .news-articles .single-news .news-text {
  font-size: 12px;
}

footer .footer-top .nav-links ul {
  display: inline-block;
  margin-right: 30px;
  vertical-align: top;
}

footer .footer-top .nav-links ul:last-of-type {
  margin-right: 0;
}

footer .footer-top .nav-links ul li {
  margin: 8px 0;
}

footer .footer-top .nav-links ul li:first-of-type {
  color: #fff;
  padding: 3px 6px;
  border: 2px solid #fff;
  text-align: center;
  margin-bottom: 10px;
  font-family: "ProximaNova-Bold";
}

footer .footer-top .nav-links ul li a {
  color: #fff;
  font-family: "ProximaNova-Bold";
}

footer .footer-top .nav-links ul li a:hover {
  text-decoration: underline;
}

footer .footer-bottom {
  padding: 15px 0 10px;
  color: #fff;
}

footer .footer-bottom ul {
  margin-bottom: 15px;
}

footer .footer-bottom ul li {
  margin-bottom: 10px;
}

footer .footer-bottom ul li a {
  color: #fff;
}

footer .footer-bottom ul li a+.hover {
  width: 30px;
  height: 3px;
  background-color: #fff;
  opacity: 0;
  margin: 5px auto 0;
}

footer .footer-bottom ul li a:hover+.hover {
  opacity: 1;
}


/* ---- contact banner styles ---- */

.contact-banner {
  padding: 25px 0;
}

.contact-banner h1 {
  margin: 0;
  color: #595959;
  display: inline-block;
  margin: 0 auto 40px;
  font-weight: normal;
}

.contact-banner .line {
  height: 2px;
  color: #595959;
  box-shadow: 3px 3px 5px rgba(13, 13, 13, 0.5);
  margin: 0 auto 50px;
}

.contact-banner p {
  margin: 0;
}


/* ---- contact form styles ---- */

.contact-form form {
  margin: 0 auto;
  padding: 25px 0;
  width: 300px;
}

.contact-form h2 {
  color: #595959;
  font-weight: bold;
  margin: 0;
}

.contact-form h2+.line {
  width: 300px;
  height: 1px;
  box-shadow: 1px 1px 2px rgba(13, 13, 13, 0.5);
  background-color: #595959;
  margin-bottom: 50px;
}

.contact-form label {
  display: block;
  color: #aeaeae;
  font-weight: normal;
  font-size: 20px;
}

.contact-form label span {
  color: #69ddd2;
}

.contact-form input {
  border: 1px solid #aeaeae;
  border-radius: 5px;
  width: 300px;
  height: 36px;
  padding: 0 15px;
}

.contact-form input:focus, .contact-form textarea:focus {
  border-color: #1ccabb;
}

.contact-form textarea {
  resize: none;
  overflow: auto;
  width: 100%;
  border: 1px solid #aeaeae;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
}

.contact-form .btn-wrapper {
  text-align: right;
  width: 100%;
}

.contact-form .custom-btn {
  padding: 10px 40px;
}

.contact-form .btn-wrapper+.line {
  width: 100%;
  height: 1px;
  box-shadow: 1px 1px 2px rgba(13, 13, 13, 0.5);
  background-color: #595959;
  margin: 50px 0 30px;
}

.contact-form .telephone {
  font-family: "ProximaNova-Black";
  font-size: 24px;
  margin: 0;
  font-weight: 900;
}

.contact-form .has-success .custom-feedback {
  display: block;
  top: 60%;
  left: 90%;
}
/* ---- demo styles ---- */

.demo {
  background: url(assets/banner-01.jpg) center center no-repeat;
  background-size: cover;
  padding: 36px 0;
}

.demo .demo-form {
  margin: 0 auto;
}

.demo .demo-form .demo-top, .demo .demo-form .demo-bottom {
  padding: 10px;
}

.demo .demo-form .white-top {
  height: 10px;
  background-color: #fff;
  border-radius: 5px 5px 0 0;
}

.demo .demo-form img {
  width: 30px;
  display: block;
  margin: 0 auto;
}

.demo .demo-form h2 {
  margin-bottom: 30px;
  font-weight: 300;
}

.demo .demo-form .line {
  height: 2px;
  background-color: #fff;
}

.demo .demo-form .demo-top .line:first-of-type {
  margin-bottom: 20px;
}

.demo .demo-form .demo-top .line:last-of-type {
  margin-top: 30px;
}

.demo .demo-form .demo-bottom .line {
  width: 30%;
  margin: 15px auto 10px;
}

.demo .demo-form .demo-top label {
  color: #fff;
  font-size: 20px;
  margin-right: 30px;
  width: 100px;
}

.demo .demo-form .demo-top input, .demo .demo-form select {
  border: none;
  border-radius: 5px;
  width: 300px;
  height: 36px;
  padding: 0 15px;
}

.demo .has-success .custom-feedback {
  display: block;
  top: 60%;
  left: 90%;
}

.demo .demo-form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: #fff url(assets/select.png) no-repeat 100% center;
}

.demo .demo-form .help-block {
  text-align: center;
}

.demo .demo-form .demo-bottom label {
  color: #fff;
  font-weight: 300;
  margin: 0 0 0 5px;
  transform: translateY(-3px);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.demo .demo-form .demo-bottom #conditions, .demo .demo-form .demo-bottom #newsletter {
  visibility: hidden;
}

.demo .demo-bottom .col-sm-5 {
  text-align: center;
}

.demo .demo-form .demo-bottom .checkbox {
  width: 15px;
  height: 15px;
  background: #fff;
  display: inline-block;
  margin: 0;
}

.demo .demo-form .demo-bottom #conditions:checked+.checkbox, .demo .demo-form .demo-bottom #newsletter:checked+.checkbox {
  background: #fff url(assets/checkbox.png) no-repeat center center;
}

.demo .demo-form .demo-bottom .custom-btn {
  padding: 5px 30px;
  border-radius: 0;
  margin: 15px 0 10px;
}

.demo .demo-form .form-footer a, .demo .demo-form .form-footer p {
  color: #fff;
  font-size: 10px;
  font-weight: 500;
}


/* ---- products categories styles ---- */

.products-categories {
  padding: 30px 0;
}

.products-categories h2 {
  color: #595959;
  max-width: 600px;
  margin: 0 auto 25px;
  font-size: 32px;
}

.products-categories .line {
  max-width: 700px;
  height: 2px;
  background-color: #cdcdcd;
  box-shadow: 3px 3px 5px rgba(13, 13, 13, 0.5);
  margin: 0 auto 20px;
}

.products-categories p {
  color: #595959;
  max-width: 740px;
  margin: 0 auto 40px;
}

.products-categories .popup-box:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(84, 172, 222, 0);
  border-bottom-color: #54acde;
  border-width: 14px;
  margin-left: -14px;
  transition: 0;
}

.products-categories article {
  position: relative;
}

.products-categories article .single-product {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-size: 100px 100px !important;
}

.products-categories article .single-product:hover+.popup-box {
  visibility: visible;
}

.products-categories .row>.col-xs-6:nth-of-type(1) article .single-product {
  background: url(assets/products-01.png) no-repeat center center;
}

.products-categories .row>.col-xs-6:nth-of-type(2) article .single-product {
  background: url(assets/products-02.png) no-repeat center center;
}

.products-categories .row>.col-xs-6:nth-of-type(3) article .single-product {
  background: url(assets/products-03.png) no-repeat center center;
}

.products-categories .row>.col-xs-6:nth-of-type(4) article .single-product {
  background: url(assets/products-04.png) no-repeat center center;
}

.products-categories .row>.col-xs-6:nth-of-type(5) article .single-product {
  background: url(assets/products-05.png) no-repeat center center;
}

.products-categories .row>.col-xs-6:nth-of-type(6) article .single-product {
  background: url(assets/products-06.png) no-repeat center center;
}

.products-categories .row>.col-xs-6:nth-of-type(1) article .single-product:hover {
  background: url(assets/products-01-hov.png) no-repeat center center;
}

.products-categories .row>.col-xs-6:nth-of-type(2) article .single-product:hover {
  background: url(assets/products-02-hov.png) no-repeat center center;
}

.products-categories .row>.col-xs-6:nth-of-type(3) article .single-product:hover {
  background: url(assets/products-03-hov.png) no-repeat center center;
}

.products-categories .row>.col-xs-6:nth-of-type(4) article .single-product:hover {
  background: url(assets/products-04-hov.png) no-repeat center center;
}

.products-categories .row>.col-xs-6:nth-of-type(5) article .single-product:hover {
  background: url(assets/products-05-hov.png) no-repeat center center;
}

.products-categories .row>.col-xs-6:nth-of-type(6) article .single-product:hover {
  background: url(assets/products-06-hov.png) no-repeat center center;
}

.products-categories article .dots {
  width: 60px;
  position: absolute;
  top: 33%;
  right: -45px;
}

.products-categories article .popup-box {
  width: 100px;
  height: 30px;
  line-height: 30px;
  bottom: -10px;
  visibility: visible;
  transition: 0;
}


/* ---- products showcase styles ---- */

.products-showcase {
  padding: 40px 0 3px;
}

.products-showcase .wrapper {
  width: 80%;
  margin: 0 auto;
}

.products-showcase .row .col-md-7 article {
  position: relative;
}

.products-showcase .slide-btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: none;
  transition: 0.4s;
  position: absolute;
}

.products-showcase .slide-prev {
  top: 50%;
  left: -40px;
  transform: translateY(-50%);
  background: url(assets/slide-prev.png) no-repeat center center;
}

.products-showcase .slide-prev:hover {
  background: url(assets/slide-prev-hov.png) no-repeat center center;
}

.products-showcase .slide-next {
  top: 50%;
  right: -40px;
  transform: translateY(-50%);
  background: url(assets/slide-next.png) no-repeat center center;
}

.products-showcase .slide-next:hover {
  background: url(assets/slide-next-hov.png) no-repeat center center;
}

.products-showcase .bx-wrapper {
  border: none;
  margin-bottom: 0;
}

.products-showcase article>img {
  margin-bottom: 20px;
  margin-top: 50px;
}

.products-showcase h4 {
  text-decoration: underline;
  margin-bottom: 35px;
  font-weight: bold;
}

.products-showcase p {
  margin-bottom: 20px;
  color: #fff;
  font-size: 16px;
}

.products-showcase .read-more {
  color: #fff;
  text-decoration: underline;
  font-weight: bold;
  font-size: 18px;
}

.products-showcase .read-more:hover {
  color: #5CAED0;
}

/* ---- more content styles ---- */
.more-content {
  padding: 60px 0 20px;
  margin-top: 5px;
  position: relative;
  display: none;
}
.more-content article {
  margin-bottom: 50px;
}
.more-content p {
  color: #fff;
}
.more-content .line {
  width: 100%;
  height: 2px;
  background-color: #1ccabb;
  margin: 12px 0;
}

.more-content .demo-btn {
  display: block;
  width: 150px;
  height: 36px;
  line-height: 36px;
  margin: 25px auto 0;
  background-color: #5baed0;
  color: #fff;
  font-weight: bold;
  border-radius: 3px;
  transition: 0.2s;
}

.more-content .demo-btn:hover {
  background-color: #1ccabb;
}

.more-content .close-content {
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  z-index: 10;
  top: 20px;
  right: 30px;
  background: url(assets/close.png) no-repeat center center;
}

.more-content .close-content:hover {
  background: url(assets/close-hov.png) no-repeat center center;
}

/* ---- dashboard app styles ---- */
.dashboard-app .app-header {
    border-bottom: 1px solid #cecece;
}

.dashboard-app .app-header-left {
  padding-top: 47px;
  text-align: center;
}

.dashboard-app .app-header-right {
  text-align: center;
}

.dashboard-app .app-header-left a {
  color: #1ccabb;
  border: 1px solid #1ccabb;
  font-family: "ProximaNova-Semibold";
  padding: 10px;
  margin-left: 20px;
}

.dashboard-app .app-header-right .app-nav {
  margin-top: 30px;
}

.dashboard-app .app-header-right .app-nav > li {
  vertical-align: top;
  margin-right: 10px;
  text-align: center;
  font-family: "ProximaNova-Semibold";
}

.dashboard-app .app-header-right .app-nav > li:last-of-type {
  margin-right: 0;
}

.dashboard-app .app-header-right .app-nav > li > a {
  color: #1ccabb;
}

.dashboard-app .app-header-right .app-nav .hover {
  width: 16px;
  height: 3px;
  background-color: #595959;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
}

.dashboard-app .app-header-right .app-nav > li > a:hover{
  color: #595959;
}

.dashboard-app .app-header-right .app-nav > li > a:hover + .hover {
  visibility: visible;
}

.dashboard-app .app-header-right .app-dropdown li {
    padding: 10px 20px;
    border-bottom: 1px solid #d5d5d5;
}

.dashboard-app .app-header-right .app-dropdown li:last-of-type {
    border-bottom: none;
}

.dashboard-app .app-header-right .app-dropdown li a {
  color: #757575;
  font-family: "ProximaNova-Light";
}

.dashboard-app .app-header-right .app-dropdown li a:hover, .dashboard-app .app-header-right .app-dropdown li a:focus {
  color: #54acde;
}

.dashboard-app .app-container {
  padding: 20px 0 30px;
  position: relative;
}

.dashboard-app .app .nav-tabs {
  border: none;
  display: inline-block;
  position: relative;
  z-index: 20;
  margin-top: 20px;
}

.dashboard-app .app .nav-tabs li {
  display: inline-block;
  float: none;
  margin-bottom: 10px;
}

.dashboard-app .app .nav-tabs li.active a {
  border-color: #cecece;
  color: #595959;
}

.dashboard-app .app .nav-tabs li a {
  font-size: 10px;
  font-family: "ProximaNova-Bold";
  color: #929397;
  width: 140px;
  border-radius: 7px;
}

.dashboard-app .app .nav-tabs li img {
  display: block;
  width: 34px;
  margin: 0 auto 6px;
}

.dashboard-app .app {
  border: 1px solid #cecece;
  border-radius: 8px;
  position: relative;
}

.dashboard-app .app .top {
  height: 7px;
  background-color: #1ccabb;
  border-radius: 8px 8px 0 0;
}

.dashboard-app .app h2 {
  color: #595959;
  margin-bottom: 50px;
  text-align: center;
  font-size: 34px;
}

.dashboard-app .app .tab-content {
  vertical-align: top;

}

.dashboard-app .app .pane-top {
  border-bottom: 1px solid #efefef;
  padding: 10px 0 40px;
}

.dashboard-app .app .pane-top img {
  width: 100px;
}

.dashboard-app .app .pane-top p {
  display: inline-block;
  width: 47%;
  vertical-align: top;
  margin-bottom: 25px;
}

.dashboard-app .app .pane-top .row .col-sm-8 p:nth-of-type(2n + 1) {
  font-family: "ProximaNova-Thin";
}

.dashboard-app .app .pane-top .row .col-sm-8 p:nth-of-type(2n) {
  margin-left: 10px;
  font-family: "ProximaNova-Semibold";
}

.dashboard-app .app .pane-bottom {
  padding: 25px 0 0;
}

.dashboard-app .app .pane-bottom .left-bottom {
  margin-bottom: 40px;
}

.dashboard-app .app .pane-bottom p {
  color: #595959;
  font-family: "ProximaNova-Light";
  font-size: 20px;
  max-width: 200px;
  margin: 12px auto 25px;
}

.dashboard-app .app .pane-bottom p span {
  font-family: "ProximaNova-Bold";
  color: #54acde;
}

.dashboard-app .app .pane-bottom .alert-btn {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 3px;
  color: #54acde;
  border: 1px solid #54acde;
  font-family: "ProximaNova-Semibold";
  transition: 0.2s;
}

.dashboard-app .app .pane-bottom .alert-btn:hover, .dashboard-app .app .pane-bottom .alert-btn:focus {
  color: #1ccabb;
  border-color: #1ccabb;
}

.dashboard-app .app .pane-bottom .calendar-btn {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 3px;
  color: #fff;
  background-color: #54acde;
  font-family: "ProximaNova-Semibold";
  margin-top: 35px;
  transition: 0.2s;
}

.dashboard-app .app .pane-bottom .calendar-btn:hover, .dashboard-app .app .pane-bottom .calendar-btn:focus {
  background-color: #1ccabb;
}

.dashboard-app .app .app-footer {
  margin-top: 60px;
}

.dashboard-app .app .app-footer ul li {
  padding: 0 12px;
  border-right: 1px solid #cecece;
}

.dashboard-app .app .app-footer ul li a {
  font-family: "ProximaNova-Thin";
  color: #757575;
  font-size: 12px;
}

.dashboard-app .app .app-footer ul > li:last-of-type {
  border-right: none;
}

.dashboard-app .app .app-footer ul li a:hover, .dashboard-app .app .app-footer ul li a:focus {
  color: #54acde;
}

/* ---- clients banner styles ---- */
.clients-banner .banner-content-wrapper .banner-content {
  margin-top: 10%;
}

.clients-banner .banner-content h1 {
  font-family: "ProximaNova-Bold";
  max-width: 1000px;
}

.clients-banner .banner-content img {
  width: 84px;
}

/* ---- testimonials styles ---- */
.testimonials {
  padding: 30px 0;
}

.testimonials h2 {
  color: #595959;
  max-width: 1000px;
  padding-bottom: 25px;
  margin: 0 auto 50px;
  border-bottom: 2px solid #e4e4e4;
  box-shadow: 0 8px 6px -6px rgba(0,0,0,0.2);
  font-size: 28px;
}

.testimonials .testimonials-articles {
  max-width: 1000px;
  margin: 0 auto;
}

.testimonials .testimonials-articles img {
  width: 100px;
  padding: 10px;
  border: 2px solid #1ccabb;
  border-radius: 50%;
}

.testimonials .testimonials-articles q, .testimonials .testimonials-articles p {
  max-width: 270px;
}

.testimonials .testimonials-articles p:first-of-type {
  font-family: "ProximaNova-Semibold";
  margin: 0;
}

.testimonials .testimonials-articles p:nth-of-type(2) {
  margin-bottom: 10px;
}

.testimonials .testimonials-articles q {
  display: inline-block;
  font-family: "ProximaNova-Light";
  font-style: italic;
}

.testimonials .testimonials-articles article {
  margin-bottom: 50px;
}

/* ---- clients partners styles ---- */
.clients-partners {
  padding: 60px 0;
  background-color: #F5F5F5;
}

.clients-partners h2 {
  color: #595959;
  max-width: 1000px;
  padding-bottom: 25px;
  margin: 0 auto 50px;
  border-bottom: 2px solid #e4e4e4;
  box-shadow: 0 8px 6px -6px rgba(0,0,0,0.2);
  font-size: 28px;
}

.clients-partners a {
  display: inline-block;
  margin: 0 10px;
}

.clients-partners a:hover img, .clients-partners a:focus img {
  opacity: 0.7;
}

.clients-partners a img {
  margin-bottom: 30px;
}
